/** CSS STYLE **/

@import url(./setup/variant.css);
@import url(./setup/layout.css);

/** MAIN **/

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.section {
  position: relative;
}

.section-top-padding {
  padding-top: 100px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 22px;
  background-color: var(--basic-color);
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}

.button:focus {
  outline: none;
  border: 2px solid var(--white);
  background-color: var(--basic-color-hover);
}

.button:hover {
  background-color: var(--basic-color-hover);
}

.button-icon {
  padding: 10px 16px;
}

.button-icon::before {
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.button-icon-plane::before {
  background-image: url("../images/send.svg");
}

.section-text {
  margin-top: 0;
}

.section-text:last-child {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.text-white {
  color: var(--white);
}

.text-dark {
  color: var(--basic-color-dark);
}

.drop-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.img {
  vertical-align: top;
}

.flex {
  display: flex;
}

.text-dark-opacity {
  color: var(--dark-opacity);
}

.row {
  margin-left: -30px;
}

.col {
  margin-left: 30px;
}

.col-6 {
  flex: 1 1 50%;
}

/** MARGIN **/

.mb-100 {
  margin-bottom: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-12 {
  margin-top: 12px;
}

/** COLUMNS **/

.columns {
  columns: 2;
  column-gap: 30px;
  position: relative;
}

.columns-text {
  margin-bottom: 12px;
}

.columns-text:first-of-type {
  break-after: column;
}

.columns-text:last-of-type {
  margin-bottom: 0;
}

.columns-title {
  column-span: all;
  padding: 5px 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

/** BG SECTION **/

.bg-image-question::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.png");
  opacity: 0.1;
}

.bg-color-light {
  background-color: var(--light);
}

.bg-color-white {
  background-color: var(--white);
}

.bg-color-dark {
  background-color: var(--basic-color-dark);
}

.bg-color-brown {
  background-color: var(--brown);
}

/** TITLE **/

.main-title {
  font-size: 72px;
  font-family: var(--font-title);
}

.subtitle {
  display: block;
}

.title-small {
  font-size: 34px;
  font-family: var(--font-title);
}

.title-color-primary {
  color: var(--basic-color);
}

.title-color-secondary {
  color: var(--dark);
}

.title-color-light {
  color: var(--light);
}

.section-title {
  font-size: 60px;
  line-height: 1.2em;
  font-family: var(--font-title);
}

.section-title-size-middle {
  font-family: var(--font-title);
  font-size: 52px;
}

.section-title-size-small {
  font-family: var(--font-title);
  font-size: 34px;
  line-height: 1.2em;
}

.section-title-size-xs {
  font-family: var(--font-title);
  font-size: 24px;
  line-height: 1.2em;
}

.section-subtitle {
  margin-bottom: 30px;
  color: #212529;
}

/** HERO **/
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-btn {
  align-self: flex-end;
  margin-top: 40px;
}

.hero-image {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.hero-title {
  max-width: 600px;
  margin-bottom: 200px;
  position: relative;
}

.video {
  margin-bottom: -200px;
  z-index: 1;
  border: 0;
  position: relative;
}

.navigation-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  counter-reset: navigation;
}

.card {
  padding: 24px;
  position: relative;
  transition: color 0.2s;
}

.card:hover {
  color: var(--white);
  background-color: var(--basic-color);
}

.card::before {
  content: counter(navigation);
  counter-increment: navigation;
  color: var(--basic-color-dark);
  font-family: var(--font-title);
  font-size: 64px;
  line-height: 1;
  display: block;
  margin-bottom: 40px;
  transition: color 0.1s;
}

.card-title {
  font-family: var(--font-title);
  color: var(--basic-color);
  transition: color 0.2s;
  margin-bottom: 12px;
}

.card:hover .card-title,
.card:hover::before {
  color: var(--white);
}

.card-link {
  text-decoration: none;
}

.card-link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

/** FORM **/
.subscribe-form {
  position: relative;
}

.input {
  width: 100%;
  height: 50px;
  padding: 15px;
  padding-right: 85px;
  border: 0;
  outline: none;
}

.input::placeholder {
  opacity: 0.2;
}

.input::-moz-placeholder {
  opacity: 0.2;
}

.input::-webkit-input-placeholder {
  opacity: 0.2;
}

.button-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  outline: none;
}

.subscribe {
  padding: 40px 56px;
  margin-bottom: 72px;
}

.subscribe-title {
  font-size: 18px;
}

.subscribe-conditions {
  font-size: 12px;
}

.contacts {
  font-size: 14px;
  text-align: center;
}

.contacts a {
  color: var(--blue);
}
