
*,
::after,
::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: var(--font-main);
	color: var(--dark);
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}
h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: normal;
}
ul{
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
