*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--dark);
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
  line-height: 1.2em;
}

h2 {
  font-family: var(--font-title);
  font-size: 60px;
  color: var(--basic-color);
}

a {
  color: inherit;
}

ul {
  letter-spacing: 0.15px;
}

p {
  margin: 0;
}