:root {
	--basic-color: #fe8a02;
	--basic-color-dark: #42413c;
	--white: #ffffff;
	--white-opacity: #d7ccc0;
	--light: #f5f4f0;
	--dark: #2a2626;
	--dark-opacity: #908d8b;
	--brown: #b09a81;
	--blue: #1085c5;
	--font-main: "Open Sans", Arial, Helvetica, sans-serif;
	--font-title: "Neucha", Arial, Helvetica, sans-serif;
}