:root {
  --basic-color: #fe8a02;
  --basic-color-hover: #ea7600;
  --basic-color-dark: #42413c;
  --basic-color-light: #f5f4f0;
  --white: #fff;
  --white-opacity: #d7ccc0;
  --brown: #b09a81;
  --blue: #1085c5;
  --black: #2a2626;
  --black-opacity: #908d8b;
  --font-main: "Open Sans", 'Arial', 'Helvetica', sans-serif;
  --font-title: "Neucha", 'Arial', 'Helvetica', sans-serif;
}
